body {
    margin:0;
    padding:0;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template: "header"
                         "main" 
                         "footer";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    min-height: 100vh;
}

.footer {
    grid-area: footer;
}