<%- include("templates/header", { titulo : 'Índice'}) %>  

  

    <section class="main-image">
        

        <div class="overlay">

      

          
        </div>


        <div class="main-info">
            <h1 class= "title-index"> <%= title %> </h1>
            <h2 class="subtitle-index"> <%= subtitle %> </h2>
        </div>
        


    </section>

    <section class="section-steps">
        <h3 class="comienza">
            Comienza ya mismo a aprender tu instrumento favorito!
        </h3>

        <div class="pasos">
            <div class="paso-1 paso">
                <img src="https://freesvg.org/img/boy-laptop.png" alt="">
                <h3>1. Contáctanos</h3>
                <p>Escríbenos a nuestros distintos canales y solicita tus cursos, con nuestro método de enseñanza aprenderás los conceptos más importantes de manera rápida y efectiva.</p>
            </div>
            <div class="paso-2 paso">
                <img src="https://freesvg.org/img/guitarist-rock.png" alt="">
                <h3>2. Ensaya</h3>
                <p>Mira nuestras clases grabadas y acuerda con nosotros clases online y presenciales, la práctica hace al maestro!</p>
            </div>
            <div class="paso-3 paso">
                <img src="https://freesvg.org/img/man_and_guitar.png" alt="">
                <h3>3. Sé un rockstar!</h3>
                <p>Te aseguramos que con nuestros cursos y comunicación constante conseguirás tus objetivos, ¿Quieres ser un Rockstar? ¡Escríbenos!</p>
            </div>
        </div>
    </section>
    <section class="section-instrumentos">

        <h3 class="instrumentos-title">Instrumentos</h3>
        <div class="instrumentos-info">
            <p>Contamos con experiencia en enseñanza respecto a distintos instrumentos, entre ellos, podrás aprender con nosotros a tocar: </p>

            <ul>
                <li><a href="">Guitarra</a></li>
                <li><a href="">Bajo</a></li>
                <li><a href="">Ukelele</a></li>
                <li><a href="">Banjo</a></li>
                <li><a href="">Charango</a></li>
            </ul>

        </div>
  
    </section>

    <section class="section-horarios">
        
        
        <div class="instrumentos-info">
            <p>Tenemos clases generales los <b>miércoles de 16:00 a 18:00 hrs</b> y durante el resto de la semana nos dedicamos a entregarte enseñanza particular para que puedas hacernos todas las preguntas que requieras para avanzar con tu instrumento favorito</p>

            <ul>
                <li><a href="">Lunes | 09:00 - 18:00 hrs</a></li>
                <li><a href="">Martes | 09:00 - 18:00 hrs</a></li>
                <li><a href="">Miércoles | 09:00 - 16:00 hrs</a></li>
                <li><a href="">Jueves | 09:00 - 18:00 hrs</a></li>
                <li><a href="">Viernes | 09:00 - 18:00 hrs</a></li>
            </ul>

        </div>

        <h3 class="instrumentos-title">Horarios</h3>
  
    </section>

    <section class="section-decide">

        <div class="decide">
            <h3>Decide cuando, y que instrumento deseas aprender, nuestras clases están a tu disposición!</h3>
            <a href="/contacto">Contáctanos</a>
        </div>

    </section>


<%- include("templates/footer") %>   
