<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> EJS - <%- titulo %> </title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

    <header class="header">
        <h2 class="title-header">MILCO</h2>
        <nav class="nav">
            <ul>
                <li><a href="/">Index</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/milco">Milco</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">


   
